<div class="modal-inner">
    <div class="modal-inner-header modal-header-{{this.type}}">
        <div class="modal-header-title-container">
            {{#if this.icon}}
            <FaIcon @icon={{this.icon}} class="modal-header-icon" />
            {{/if}}
            <h4 class="modal-header-title">{{localize this.title}}</h4>
        </div>
        {{#if this.isClosable}}
        <button id="modal-button-close" type="button" class="modal-button-close" {{on "click" this.modalService.hide}}>
            <FaIcon @icon="times" />
        </button>
        {{/if}}
    </div>
    <div class="modal-inner-content">
        {{#each this.text as |text|}}
        <p>{{localize text true}}</p>
        {{/each}}
        <form id="modal-form" {{on "submit" this.onSubmit}}>
            <Interactable::inputfield class="paddingTopBottom10px" @id="modal-input-single" @label={{this.inputLabel}}
                @required={{this.inputRequired}} @placeholder={{this.inputPlaceholder}} @changeset={{this.changeset}}
                @key="input" @type={{this.inputType}} @pattern={{@this.inputPattern}} @maxLength={{this.inputMaxLength}}
                @eventListeners={{this.inputEventListeners}} />
        </form>
    </div>
    <div class="modal-inner-footer">
        <button id="modal-button-footer-yes" type="submit" form="modal-form" class="button">
            {{localize this.yesLabel}}
        </button>
        {{#if this.noLabel}}
        <button id="modal-button-footer-no" type="button" class="button" {{on "click" this.onNoClick}}>
            {{localize this.noLabel}}
        </button>
        {{/if}}
    </div>
</div>