{{!--<h5 class="marginAuto"></h5>--}}
<div class="interactable-container">
    <label class="label h5" for="input">{{localize @label}}</label>
    <div class="interactable-element">
        <input id="input" class="inputfield interactable-size-{{@size}}" value="{{this.value}}"
            disabled={{this.disabled}} autofocus={{@autofocus}} minLength={{@minLength}} maxLength={{@maxLength}}
            allowEmpty={{@allowEmpty}} />
        {{#if (is-empty @info)}}
        {{else}}
        <Interactable::ButtonInfo @article={{@info}} />
        {{/if}}
    </div>
</div>