<div class="interactable-container" style={{@style}}>
    {{#if @label}}
    <label class="label h6" for="input">{{localize @label}}
        {{#if @required}}
        <p class="h5 fg-teal-neon marginSidesSmall">*</p>
        {{/if}}
    </label>
    {{/if}}
    <div class="interactable-element">
        <input id="{{@id}}-input"
            class="inputfield inputfield-{{this.type}} interactable-size-medium interactable inputfield-hide-invalidity"
            type={{@type}} pattern={{@pattern}} minLength={{@minLength}} maxLength={{@maxLength}} disabled={{@disabled}}
            required={{@required}} autofocus={{@autofocus}} value={{changeset-get @changeset @key}}
            placeholder={{localize @placeholder}} {{on "change" this.onChange}} {{on "invalid" this.onInvalid}} />
        {{#if @info}}
        <Interactable::ButtonInfo @article={{@info}} />
        {{/if}}
    </div>
    {{#if @subtitle}}
    <p class="interactable-subtitle">{{localize @subtitle}}</p>
    {{/if}}
</div>