<div class="interactable-container">
    {{#if @label}}
    <label class="label h6" for="input">{{localize @label}}</label>
    {{/if}}
    <div class="interactable-element">
        <textarea class="inputfield interactable text-area text-area-height-{{this.height}}" value="{{this.value}}"
            minLength="{{@minLength}}" maxLength="{{@maxLength}}" disabled={{@disabled}} autofocus={{@autofocus}} />
        {{#if @info}}
        <Interactable::ButtonInfo @article={{@info}} />
        {{/if}}
    </div>
    {{#if @subtitle}}
    <p class="interactable-subtitle">{{localize @subtitle}}</p>
    {{/if}}
</div>