<div class="interactable-container">
    <div class="interactable-element">
        {{#if @label}}
        <label class="label label-inline h6">{{localize @label}}</label>
        {{/if}}
        <div class="toggle">
            <input type="checkbox" checked={{changeset-get @changeset @key}} {{on "change" this.onChange}} />
            <span class="toggle-slider"></span>
        </div>
        {{#if @info}}
        <Interactable::ButtonInfo @article={{@info}} />
        {{/if}}
    </div>
    {{#if @subtitle}}
    <p class="interactable-subtitle">{{localize @subtitle}}</p>
    {{/if}}
</div>