{{#if (eq @titleStyle "h1")}}
<h1 class="fg-{{@fontColor}} text-{{@textPosition}}">{{@text}}</h1>
{{/if}}
{{#if (eq @titleStyle "h2")}}
<h2 class="fg-{{@fontColor}} text-{{@textPosition}}">{{@text}}</h2>
{{/if}}
{{#if (eq @titleStyle "h3")}}
<h3 class="fg-{{@fontColor}} text-{{@textPosition}}">{{@text}}</h3>
{{/if}}
{{#if (eq @titleStyle "h4")}}
<h4 class="fg-{{@fontColor}} text-{{@textPosition}}">{{@text}}</h4>
{{/if}}
{{#if (eq @titleStyle "h5")}}
<h5 class="fg-{{@fontColor}} text-{{@textPosition}}">{{@text}}</h5>
{{/if}}
{{#if (eq @titleStyle "h6")}}
<h6 class="fg-{{@fontColor}} text-{{@textPosition}}">{{@text}}</h6>
{{/if}}