<List::Element>
    <td class="flex">
        <Interactable::ButtonInfo class="float-left" @article="basic-rules/supplement-traits/{{@trait.id}}" />
        <Interactable::ButtonSquare class="float-left" @icon="plus" @onClick={{this.onAddClick}} />
    </td>
    <td class="vertical-align-middle">
        <Interactable::Label @label={{localize @trait.id}} />
    </td>
    {{#if @trait.needsInput}}
    <td>
        <Interactable::Inputfield @size="large" @changeset={{this.changeset}} @key="input" />
    </td>
    {{/if}}


    {{!-- <div class="row justify-content-start">
        <Interactable::ButtonInfo @article="basic-rules/supplement-traits/{{@trait.id}}" />
        <Interactable::ButtonSquare @icon="plus" @onClick={{this.onAddClick}} />
        <Interactable::Label @labelSize="larger" @label={{localize @trait.id}} />
        {{#if @trait.needsInput}}
        <Interactable::Inputfield @size="large" @changeset={{this.changeset}} @key="input" />
        {{/if}}
    </div> --}}
</List::Element>