<div class="vBox justify-content-center">
    <h1 class="fgTealNeon text-center"> New Horizons</h1>
    <h3 class="fgWhite text-center">The Pen&Paper Game</h3>
    <div class="panel-large align-items-center">
        {{fa-icon "exclamation-triangle fgTealNeon" size="4"}}
        <div class="spacer"></div>
        <h4>Willkommen auf new-horizons-game.de!</h4>
        <p class="text-center">Diese Webapp wird in <s>naher</s>ferner Zukunft den New Horizons Editor ersetzen. Noch
            gibt es hier nicht
            allzu viel zu sehen, doch die Stellarpeda, die (teilweise) digitalisierte Sammlung der Spiel- und
            Regelbücher von New Horizons, ist
            bereits zu großen Teilen online!</p>
    </div>
    <div class="panel-large align-items-center">
        <h3>Roadmap</h3>
        <p class="text-center fgTealNeon">Stellarpedia</p>
        {{fa-icon "arrow-down fgGreyBright" size="2"}}
        <p class="text-center">Generator</p>
        {{fa-icon "arrow-down fgGreyBright" size="2"}}
        <p class="text-center">Accounts</p>
        {{fa-icon "arrow-down fgGreyBright" size="2"}}
        <p class="text-center">Editor</p>
        {{fa-icon "arrow-down fgGreyBright" size="2"}}
        <p class="text-center">Account-Registrierung</p>
    </div>
</div>