<div class="v-box justify-content-center">
    <h2 class="text-center">{{localize "Misc_Imprint"}}</h2>
    <div class="panel panel-large v-boxItem paddingSides10px paddingTopBottom10px">
        <div class="h-box v-boxItem align-items-start">
            <div class="v-box h-boxItem">
                <h4 class="v-boxItem">{{localize "Misc_Contact"}}</h4>
                <div class="v-boxItem justify-content-start h-box margin-vertical-auto margin-horizontal-auto">
                    {{fa-icon "user" size=this.sidebarIconSize class="margin-sides-medium fg-teal-neon"}}
                    <p class="margin-vertical-auto">Leopold Hock</p>
                </div>
                <div class="v-boxItem justify-content-start h-box margin-vertical-auto margin-horizontal-auto">
                    {{fa-icon "map-marker" size=this.sidebarIconSize class="margin-sides-medium fg-teal-neon"}}
                    <p class="margin-vertical-auto">Würzburg, Deutschland</p>
                </div>
                <div class="v-boxItem justify-content-start h-box margin-vertical-auto margin-horizontal-auto">
                    {{fa-icon "home" size=this.sidebarIconSize class="margin-sides-medium fg-teal-neon"}}
                    <p class="margin-vertical-auto">Website: <a class="margin-vertical-auto"
                            href="https://www.leopoldhock.de">leopoldhock.de</a></p>
                </div>
                {{!--<div class="v-boxItem justify-content-start h-box margin-vertical-auto margin-horizontal-auto">
                    {{fa-icon "phone" size=this.sidebarIconSize class="margin-sides-medium fg-teal-neon"}}
                    <p class="margin-vertical-auto">{{localize "Misc_Phone"}}: +49 160 966 844 36</p>
                </div>--}}
                <div class="v-boxItem justify-content-start h-box margin-vertical-auto margin-horizontal-auto">
                    {{fa-icon "envelope" size=this.sidebarIconSize class="margin-sides-medium fg-teal-neon"}}
                    <p class="margin-vertical-auto">{{localize "Misc_Email"}}: <a class="margin-vertical-auto"
                            href="mailto:kontakt@leopoldhock.de">kontakt@leopoldhock.de</a></p>
                </div>
                <div class="v-boxItem justify-content-start h-box margin-vertical-auto margin-horizontal-auto">
                    {{fa-icon "commenting" size=this.sidebarIconSize class="margin-sides-medium fg-teal-neon"}}
                    <p class="margin-vertical-auto">{{localize "Misc_Feedback"}}: <a class="margin-vertical-auto"
                            href="https://discord.gg/anSjdatqby">Discord</a></p>
                </div>
            </div>
            {{!--<div class="v-box h-boxItem width50">
                <h5 class="v-boxItem">{{localize "Misc_SocialMedia"}}</h5>
                <div class="v-boxItem justify-content-start h-box margin-vertical-auto margin-horizontal-auto">
                    {{fa-icon "twitter" size=this.sidebarIconSize class="margin-sides-medium fg-teal-neon"}}
                    <p class="margin-vertical-auto">{{localize "Misc_Twitter"}}</p>
                </div>
            </div>--}}
        </div>
        <div class="panel-sep"></div>
        <h4>Disclaimer</h4>
        <h5>1. Warnhinweis zu Inhalten</h5>
        <p> Die kostenlosen und frei zugänglichen Inhalte dieser Webseite wurden mit größtmöglicher Sorgfalt erstellt.
            Der Anbieter dieser Webseite übernimmt jedoch keine Gewähr für die Richtigkeit und Aktualität der
            bereitgestellten kostenlosen und frei zugänglichen journalistischen Ratgeber und Nachrichten. Die Nutzung
            dieser
            Webseiteninhalteerfolgt auf eigene Gefahr. Allein durch den Aufruf dieser kostenlosen und frei zugänglichen
            Inhalte kommt
            keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande, insoweit fehlt es am
            Rechtsbindungswillen des Anbieters.</p>
        <h5>2. Verlinkungen</h5>
        <p>
            Die Webseite enthält Verlinkungen zu anderen Webseiten ("externe Links"). Diese Webseiten unterliegen der
            Haftung der jeweiligen Seitenbetreiber. Bei Verknüpfung der externen Links waren keine Rechtsverstöße
            ersichtlich. Auf die aktuelle und künftige Gestaltung der verlinkten Seiten hat der Anbieter keinen
            Einfluss.
            Die permanente Überprüfung der externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße
            nicht zumutbar. Bei Bekanntwerden von Rechtsverstößen werden die betroffenen externen Links unverzüglich
            gelöscht.
        </p>
        <h5>3. Urheberrecht / Leistungsschutzrecht</h5>
        <p>
            Die auf dieser Webseite durch den Anbieter veröffentlichten Inhalte unterliegen dem deutschen Urheberrecht
            und Leistungsschutzrecht. Alle vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung
            bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies gilt vor
            allem
            für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in
            Datenbanken oder anderen elektronischen Medien und Systemen. Dabei sind Inhalte und Rechte Dritter als
            solche gekennzeichnet. Das unerlaubte Kopieren der Webseiteninhalte oder der kompletten Webseite ist nicht
            gestattet
            und strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und nicht
            kommerziellen Gebrauch ist erlaubt. Diese Website darf ohne schriftliche Erlaubnis nicht durch Dritte in
            Frames
            oder iFrames dargestellt werden.
        </p>
        <h5>4. Keine Werbung</h5>
        <p>Die Verwendung der Kontaktdaten des Impressums zur gewerblichen Werbung ist ausdrücklich nicht erwünscht, es
            sei
            denn der Anbieter hatte zuvor seine schriftliche Einwilligung erteilt oder es besteht bereits eine
            Geschäftsbeziehung. Der Anbieter und alle auf dieser Website genannten Personen widersprechen hiermit jeder
            kommerziellen Verwendung und Weitergabe ihrer Daten.
        </p>
        <h5>5. Besondere Nutzungsbedingungen</h5>
        <p>
            Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von den vorgenannten Nummern 1. bis 4.
            abweichen, wird an entsprechender Stelle ausdrücklich darauf hingewiesen. In diesem Falle gelten im
            jeweiligen
            Einzelfall
            die besonderen Bedingungen.
        </p>
    </div>
</div>