    <div class="panel-large">
            {{#each this.stellarpediaService.selectedEntry.elements as |element|}}
            {{#if (eq (stellarpedia/sp-get-element-type element) "hdr")}}
                <h2>{{stellarpedia/sp-prepare element}}</h2>
                <div class="separator"/>
            {{else if (eq (stellarpedia/sp-get-element-type element) "spt")}}
                <div class="separator"/>
            {{else if (eq (stellarpedia/sp-get-element-type element) "spc")}}
                <div class="spacer"/>
            {{else if (eq (stellarpedia/sp-get-element-type element) "txt")}}
                <p>{{stellarpedia/sp-prepare element}}</p>
            {{else if (eq (stellarpedia/sp-get-element-type element) "img")}}

            {{else if (eq (stellarpedia/sp-get-element-type element) "row")}}

            {{/if}}
            {{/each}}
    </div>