<div class="panel-large hBox paddingTopBottomNone justify-content-between">
    <div class="hBoxItem">
        <button type="button" class="button-icon-2" {{on "click" this.onHistoryResetClick}}
            disabled={{this.stellarpediaService.historyResetButtonDisabled}}>{{fa-icon "step-backward"}}</button>
        <button type="button" class="button-icon-2" {{on "click" this.onHistoryBackClick}}
            disabled={{this.stellarpediaService.historyBackButtonDisabled}}>{{fa-icon "chevron-left"}}</button>
        <button type="button" class="button-icon-2" {{on "click" this.onHistoryForwardClick}}
            disabled={{this.stellarpediaService.historyForwardButtonDisabled}}>{{fa-icon "chevron-right"}}</button>
        <p class="stellarpedia-status-text">{{this.stellarpediaService.currentPosition}}</p>
    </div>
    <div class="hBoxItem justify-content-end">
        <input class="inputfield interactable-size-2" value=""
            placeholder="{{localize "Misc_EnterSearchTermHere..."}}" />
    </div>
</div>

<div class=" panel-large">
    {{#each this.stellarpediaService.selectedEntry.elements as |element|}}
    {{#if (eq (stellarpedia/sp-get-element-type element) "hdr")}}
    <h2>{{stellarpedia/sp-prepare element}}</h2>
    <div class="separator" />
    {{else if (eq (stellarpedia/sp-get-element-type element) "spt")}}
    <div class="separator" />
    {{else if (eq (stellarpedia/sp-get-element-type element) "spc")}}
    <div class="spacer" />
    {{else if (eq (stellarpedia/sp-get-element-type element) "txt")}}
    <p>{{stellarpedia/sp-prepare element}}</p>
    {{else if (eq (stellarpedia/sp-get-element-type element) "img")}}

    {{else if (eq (stellarpedia/sp-get-element-type element) "row")}}

    {{/if}}
    {{/each}}
</div>