<button class="sidebar-button-1" type="button" {{on 'click' this.returnToMenu}}>
    <FaIcon @icon="chevron-left" @size={{this.manager.constants.sidebarIconSize}}
        class="margin-sides-medium fg-teal-neon" />
    <p class="margin-vertical-auto">{{localize "Misc_ReturnToMenu"}}</p>
</button>
<div class="sidebar-sep" />
<h4 class="fg-white margin-vertical-medium sidebar-header">{{localize "Misc_Generator"}}</h4>
<div class="sidebar-sep" />
<div class="v-box" id="generator-tabs">
    <button id="sidebar-button-presets" type="button"
        class="sidebar-button-1 {{if (eq this.manager.router.currentRouteName 'main.generator.preset') 'sidebar-button-1-highlighted'}}"
        {{on 'click' (fn this.goToTab 'preset' )}}>
        <FaIcon @icon="sliders-h" @size={{this.manager.constants.sidebarIconSize}}
            class="margin-sides-medium fg-teal-neon" />
        <p class="margin-vertical-auto">{{localize "Misc_Presets"}}</p>
    </button>
    <div class="sidebar-sep" />
    <button id="sidebar-button-origin" type="button"
        class="sidebar-button-1 {{if (eq this.manager.router.currentRouteName 'main.generator.origin') 'sidebar-button-1-highlighted'}}"
        disabled={{if this.generatorService.generationInProcess false true}} {{on 'click' (fn this.goToTab 'origin' )}}>
        <FaIcon @icon="globe" @size={{this.manager.constants.sidebarIconSize}}
            class="margin-sides-medium fg-teal-neon" />
        <p class="margin-vertical-auto">{{localize "Misc_Origin"}}</p>
    </button>
    <div class="sidebar-sep" />
    {{#each this.tabs as |tab|}}
    <button id="sidebar-button-{{tab.id}}" type="button"
        class="sidebar-button-1 {{if (eq this.manager.router.currentRouteName tab.routeName) 'sidebar-button-1-highlighted'}}"
        disabled={{if this.generatorService.originChosen false true}} {{on 'click' (fn this.goToTab tab.id)}}>
        <FaIcon @icon={{tab.icon}} @size={{this.manager.constants.sidebarIconSize}}
            class="margin-sides-medium fg-teal-neon" />
        <p class="margin-vertical-auto">{{localize (concat "Misc_" tab.id)}}</p>
    </button>
    <div class="sidebar-sep" />
    {{/each}}
    <button class="sidebar-button-1" type="button" {{on 'click' (fn this.generatorService.logStatus)}}>
        <FaIcon @icon="code" @size={{this.sidebarIconSize}} class="margin-sides-medium fg-teal-neon" />
        <p class="margin-vertical-auto">Status</p>
    </button>
</div>