<button id="sidebar-button-{{this.book.id}}+{{this.chapter.id}}+{{this.entry.id}}" type="button"
    class="sidebar-collapsible {{if this.highlighted 'sidebar-collapsible-highlighted' }} " {{on "click" (fn
    this.onClick this.entry this.book.id this.chapter.id)}}>
    <FaIcon @icon="file-alt" class="margin-sides-medium fg-teal-neon" />
    <p class="margin-vertical-auto">{{stellarpedia/sp-get-entry-header this.entry}}</p>
</button>