<button id="sidebar-button-{{this.book.id}}" type="button" class="sidebar-collapsible" {{on "click" this.onClick}}>
    <FaIcon @icon={{this.book.faIcon}} @size={{this.manager.constants.sidebarIconSize}}
        class="margin-sides-medium fg-teal-neon" />
    <p class="margin-vertical-auto">{{localize (concat "Stellarpedia_" this.book.id)}}</p>
</button>
<div id="sidebar-button-{{this.book.id}}-content"
    class="sidebar-collapsible-content {{if this.expanded 'sidebar-collapsible-content-expanded' }}">
    {{yield}}
</div>