<Title @titleStyle="h2" @textPosition="center" @text={{localize "Route_Generator_Personal_Title" }} />
<Layout::Panel @size="medium">
    <form class="container">
        <Title @titleStyle="h3" @text={{localize "Misc_PrimaryAttributes" }} />
        <div class="row full-width justify-content-center align-items-start">
            {{#each @model.primaryAttributes as |primaryAttribute|}}
            <div class="col-md">
                <Interactable::ValueControl @object={{primaryAttribute}} @key="start" @value={{primaryAttribute.start}}
                    @label={{localize (concat primaryAttribute.id '/long' ) }} @labelSize="medium"
                    @alignment="space-between" @onChangeListener={{this.onChange}} @min={{primaryAttribute.min}}
                    @max={{primaryAttribute.max}}
                    @info="basic-rules/supplement-primary-attributes/{{primaryAttribute.id}}" />
            </div>
            {{/each}}
        </div>
        <Misc::Spacer />
        <Title @titleStyle="h3" @text={{localize "Misc_SecondaryAttributes" }} />
        <div class="row full-width justify-content-center align-items-start">
            {{#each @model.secondaryAttributes as |secondaryAttribute|}}
            <div class="col-md">
                <Interactable::ValueControl @object={{secondaryAttribute}} @key="current"
                    @value={{secondaryAttribute.current}} @label={{localize (concat secondaryAttribute.id '/long' ) }}
                    @labelSize="medium" @alignment="space-between" @onChangeListener={{this.onChange}}
                    @info="basic-rules/supplement-secondary-attributes/{{secondaryAttribute.id}}"
                    @showButtons={{false}} />
            </div>
            {{/each}}
        </div>
    </form>
</Layout::Panel>