<h2 class="fg-white text-center">{{localize "Route_Generator_Skills_Title"}}</h2>
<Layout::Panel @size="large" @alignment="center">
    <Title @titleStyle="h3" @text={{localize "Route_Generator_Skills_Interests" }} />
    <h5>{{localize "Route_Generator_Skills_IpAvailable"}}: {{this.generator.ipAvailable}}</h5>
    <div class="row full-width justify-content-center align-items-start">
        {{#each @model.skillCategories as |skillCategory|}}
        <div class="col-lg-6">
            <Interactable::ValueControl @object={{skillCategory}} @step={{5}} @value={{skillCategory.total}}
                @label={{localize skillCategory.id }} @labelSize="medium" @alignment="space-between"
                @onChangeListener={{this.onInterestChange}} @min={{skillCategory.min}} @max={{skillCategory.max}}
                @budget={{this.generator.ipAvailable}} @budgetMin={{5}} />

        </div>
        {{/each}}
    </div>
    <Misc::Spacer />
    <Title @titleStyle="h3" @text={{localize "Route_Generator_Skills_Skills" }} />
    <div class="full-width">
        <BsTab as |tab|>
            <tab.pane @title={{localize "Route_Generator_Skills_AvailableSkills" }}>
                {{#each @model.skillCategories as |skillCategory|}}
                <Interactable::Collapsible class="full-width margin-vertical-medium" @noPadding={{true}} @size="medium"
                    @title={{localize skillCategory.id }} @collapsed={{skillCategory.collapsibleCollapsedAvailable}}
                    @counterLabel={{localize "route/generator/skills/skill-category-ip" }}
                    @counterValue={{skillCategory.available}} @counterMin={{skillCategory.min}}
                    @counterMax={{skillCategory.total}}>
                    <div class="responsive-table full-width">
                        <List::Skills @character={{@model.character}} @data={{@model.skillsAvailable}}
                            @skillCategory={{skillCategory.id}} @sortingKey="localizedLabel" @isGenerator={{true}}
                            @isOwned={{false}} @budget={{skillCategory.available}} />
                    </div>
                </Interactable::Collapsible>
                {{/each}}
            </tab.pane>
            <tab.pane @title={{localize "Route_Generator_Skills_OwnedSkills" }}>
                {{#each @model.skillCategories as |skillCategory|}}
                <Interactable::Collapsible class="full-width margin-vertical-medium" @noPadding={{true}} @size="medium"
                    @title={{localize skillCategory.id }} @collapsed={{skillCategory.collapsibleCollapsedOwned}}
                    @counterLabel={{localize "route/generator/skills/skill-category-ip" }}
                    @counterValue={{skillCategory.available}} @counterMin={{skillCategory.min}}
                    @counterMax={{skillCategory.total}}>
                    <div class="responsive-table full-width">
                        <List::Skills @character={{@model.character}} @data={{@model.skillsOwned}}
                            @skillCategory={{skillCategory.id}} @sortingKey="localizedLabel" @isGenerator={{true}}
                            @isOwned={{true}} @budget={{skillCategory.available}} />
                    </div>
                </Interactable::Collapsible>
                {{/each}}
            </tab.pane>
        </BsTab>
    </div>
</Layout::Panel>