<h2 class="fg-white text-center">{{localize "Route_Generator_Traits_Title"}}</h2>
<Layout::Panel @size="large" @alignment="center">
    <div class="full-width">
        <BsTab as |tab|>
            <tab.pane @title={{localize "Route_Generator_Traits_AvailableTraits" }}>
                <List::Container class="full-width margin-vertical-medium" @size="large">
                    <List::Traits @data={{@model.traitsAvailable}} @sortingKey="localizedLabel" @isGenerator={{true}}
                        @isOwned={{false}} />
                </List::Container>
            </tab.pane>
            <tab.pane @title={{localize "Route_Generator_Traits_OwnedTraits" }}>
                <List::Container class="full-width margin-vertical-medium" @size="large">
                    <List::Traits @data={{@model.traitsAvailable}} @sortingKey="localizedLabel" @isGenerator={{true}}
                        @isOwned={{false}} />
                </List::Container>
            </tab.pane>
        </BsTab>
    </div>
</Layout::Panel>