<h2 class="fg-white text-center">{{localize "Route_Generator_Traits_Title"}}</h2>
<Layout::Panel @size="large" @alignment="center">
    <Interactable::Collapsible class="full-width" @noPadding={{true}} @size="medium"
        @title={{localize "Route_Generator_Traits_AvailableTraits" }} @collapsed={{false}}>
        <div class="responsive-table full-width">
            <List::Traits @rows={{@model.traitsAvailable}} @sortingKey="localizedLabel" @isGenerator={{true}}
                @isOwned={{false}} />
        </div>
    </Interactable::Collapsible>
    <Misc::Spacer />
    <Interactable::Collapsible class="full-width" @noPadding={{true}} @size="medium"
        @title={{localize "Route_Generator_Traits_OwnedTraits" }} @collapsed={{false}}>
        <div class="responsive-table full-width">
            <List::Traits @rows={{@model.traitsOwned}} @sortingKey="localizedLabel" @isGenerator={{true}}
                @isOwned={{true}} />
        </div>
    </Interactable::Collapsible>
</Layout::Panel>